body {
    background-color: #00bcd4;
}
h1 {
    color:#14ffec;
}
h2 {
    color: #00416d;
}
h3 {
    color: #00334e;
}
p {
    color: #ec0101;
}
em {
    color: #fbdcc4;
}
b {
    color: #a2d5f2;
}
h {
    color: #00416d;
}